.envelope {
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 1rem 5rem;
  color: #000;
  letter-spacing: 0.05em; }
  .envelope::before {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3.625rem;
    content: "\f003";
    text-align: center;
    line-height: 3.625rem;
    font-family: "icomoon";
    font-size: 20px;
    background-color: #e5e5e5; }
  .envelope:hover {
    border-color: #B22222 !important; }
    .envelope:hover::before {
      background-color: #B22222 !important;
      color: #fff; }

.text-white .envelope::before {
  background: rgba(255, 255, 255, 0.2); }